<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <title>Clack Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
</head>
<body>
<div id="page" class="page">
{% include 'include/header.html' %}
    {% block content %}

    {% endblock content %}
{% include 'include/footer.html' %}
</div>>
</body>
</html>